@{
    ViewData["Title"] = "Termini";
}

<h2>Termini</h2>

<p>Ovdje će biti prikaz svih termina kada baza bude gotova.</p>

<a class="btn btn-primary" href="/Appointments/Create">Zakaži novi termin</a>
